# Terraform
.terraform/
# Local .terraform directories
.terraform/
.terraform/*
# IDE and editor directories and files
.vscode/
# Operating system files

.DS_Store
Thumbs.db

.github/workflows/deploy_ec2.yml




